[Desktop Entry]
Encoding=UTF-8
Name=Link to MDSheet - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=lkyL8lxtyBw
Icon=text-html
Name[en_US]=Link-to-MDSheet-Demo
