[Desktop Entry]
Encoding=UTF-8
Name=Link to MDSheet: A Framework for Model-driven Spreadsheet Engineering - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=6LNdTdCpV2U
Icon=text-html
Name[en_US]=Link-to-MDSheet-Demo-by-Author
